@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;700&display=swap');

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 20px;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--body-bg-color);
  color: var(--text-color);
  display: flex;
}

aside {
  margin: 25px;
  background-color: var(--body-bg-color);
  display: inline-block;
  position: relative;
  align-items: center;
  z-index: 1;
  height: 100%;
}

header, nav, .tecnologias, .listas, .educacao {
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--bg-cards);
  letter-spacing: 1px;
}

header img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 3px solid #00FF00;
  margin-bottom: 25px;
}

header h1 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}

header p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

nav ul {
  display: flex;
  align-items: flex-start;
  justify-content:center;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 25px;
  color: var(--text-color);
}
nav ul li a{
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  margin-left: 10px;
  flex-wrap: nowrap;
}
nav ul li a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: green;
}

.tecnologias{
  align-items: flex-start;
  justify-content: flex-start;

}
.tecnologias ul {
  width: 100%;
  display: flex;

  
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: space-between;
}

.tecnologias li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: var(--bg-techs);
  border-radius: 50px;
  margin: 10px auto;  
  width: 86px;
  height: 10px;
}

.tecnologias li a {
  display: flex;
  text-decoration: none;
  color: #000;
  weight: bold;
  
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.listas {
  align-items: flex-start;
  justify-content: flex-start;
}
.listas ul {
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: space-between;
  margin-top: 20px;
}
.listas li {
 margin-bottom: 10px;
}

.listas li h5 {
  font-size: 18px;
  font-weight: 700;
}
.listas li p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 1px;
}





// main
main {
  margin-top: 25px;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: var(--body-bg-color);
  align-items: center;
  position: relative;
}

.recente, .recentePost {
  margin: 25px 80px 0px 25px;; 
  padding: 40px;
  display: flex;
  align-items: center;
  z-index: 2;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--bg-cards);
}
.recente {
  justify-content: space-between;
}
.container{
  margin: 25px 80px 0px 25px;; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  border-radius: 0.5px 50px;

 
}
.projeto{
  width: 49%;
  padding: 40px;
  height: 100%;
  display:inline-block;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--bg-cards);
}















@media (max-width: 750px) {
 body, header, nav, .tecnologias, .listas, .educacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}  