@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;700&display=swap');

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 20px;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--body-bg-color);
  color: var(--text-color);
  display: flex;
}

aside {
  margin: 25px;
  background-color: var(--body-bg-color);
  display: inline-block;
  position: relative;
  align-items: center;
  z-index: 1;
  height: 100%;
}

header, nav, .tecnologias, .experiencias, .educacao {
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  margin-bottom: 25px;
  border-radius: 0.5px 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--bg-cards);
}







// main
main {
  margin-top: 25px;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: var(--body-bg-color);
  align-items: center;
  position: relative;
}

.recente, .recentePost {
  margin: 25px 80px 0px 25px;; 
  padding: 40px;
  display: flex;
  align-items: center;
  z-index: 2;
  border-radius: 0.5px 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--bg-cards);
}
.recente {
  justify-content: space-between;
}
.container{
  margin: 25px 80px 0px 25px;; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  border-radius: 0.5px 50px;

 
}
.projeto{
  width: 49%;
  padding: 40px;
  height: 100%;
  display:inline-block;
  border-radius: 0.5px 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--bg-cards);
}















@media (max-width: 750px) {
 body, header, nav, .tecnologias, .experiencias, .educacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}  